.left-pane{
	    width: 100%;
    vertical-align: top;
}

.ui-slider-horizontal .ui-slider-handle {
    height: 10px;
    width: 2px;
    padding-left: 5px; //add this
    padding-top: 15px;
}


.ui-slider {
    height: 4px;
    width: 150px;
    /*padding-left: 5px; //add this*/
}
